/*------------------------------------*\
  #COLUMN
\*------------------------------------*/
.w {
  &-155 {
    width: 155px;
  }

  &-250 {
    width: 250px;
  }

  &-310 {
    width: 310px;
  }

  &-345 {
    width: 345px;
  }

  &-350 {
    width: 350px;
  }

  &-380 {
    width: 380px;
  }
}