/*------------------------------------*\
  #FILTERS
\*------------------------------------*/
.filter {
  text-align: center;
  margin-bottom: 50px;
  @extend %nolist;
  @extend %clearfix;

  &-item {
    display: inline-block;
  }

  &-link {
    color: $silver;
    display: block;
    font-size: $gamma;
    margin: 0 20px;

    &:hover,
    &:focus,
    &.active {
      color: $kashmir-blue;
      text-decoration: none;
    }
  }

  &-albums {
    .filter-link {
      font-size: $beta;
      margin: 0 25px;
    }
  }
}