/*------------------------------------*\
  #GENERIC
\*------------------------------------*/
html,
body {
  min-height: 100%;
}

body {
  background: $gallery;
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.round {
  border-radius: 4px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.m-t-130 { margin-top: 130px; }

/**
 * Home Landing
 */
.home-landing {
  background: url(../images/marid_landing_bg.jpg) center no-repeat;
  background-size: cover;

  .navbar-default {
    background: transparent;
    border: 0;
    margin-top: 30px;

    .navbar-nav {
      margin-top: 15px;

      > li {
        > a {
          color: $white;
        }
      }
    }
  }

  .jumbotron {
    background: transparent;
    padding-left: 0;
    padding-right: 0;

    h2 {
      color: $white;
      font-size: $beta;
    }
  }

  .main {
    margin-top: 0;
  }
}