/*------------------------------------*\
  #GENERIC
\*------------------------------------*/
html,
body {
  height: 100%;
}

body {
  background: $gallery;
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.m-t-130 { margin-top: 130px; }