/*------------------------------------*\
  #HEADER
\*------------------------------------*/
.logo {
  background: url(../images/logo.png) no-repeat;
  background-size: cover;
  display: block;
  width: 38px;
  height: 40px;
  margin: 5px 0;
  @extend %ir;

  .home-landing & {
    background: url(../images/mariad_landing_logo.png) no-repeat;
    background-size: cover;
    width: 180px;
    height: 65px;
  }
}

.notification {
  border-radius: 100%;
  font-size: 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  padding: 0;
  position: absolute;
  top: 5px;
  right: 5px;
}

.navbar-nav {

  > li {
    margin-left: 15px;

    > a {
      color: $east-bay;
      font-size: $zeta;
    }
  }
}

.navbar-search {

  .input-group {
    width: 100%;

    .form-control {
      box-shadow: none;
    }
  }

  .fa {
    color: $east-bay;
    font-size: $delta;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 20;
    cursor: default;
    pointer-events: none;
  }
}

/**
 * Notification
 */
.dropdown-notification {
  background: #cdd2d5;
  width: 290px;
  padding-top: 20px;

  li {
    &:last-child {
      padding-bottom: 15px;
    }
  }

  &.dropdown-menu {
    border: 1px solid transparent !important;
    margin-top: 5px !important;
    border-top-right-radius: 4px !important;
    border-top-left-radius: 4px !important;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
  }

  &:before {
    background: #494949;
    width: 100%;
    height: 20px;
    top: 0;
    left: 0;
  }

  &:after {
    width: 0;
    height: 0;
    border-bottom: 15px solid #494949;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: -15px;
    right: 18px;
  }

  .media {
    border-bottom: 1px solid #494d50;
    padding: 5px 0;
    margin: 0 10px;
  }

  .media-left,
  .media-body {
    display: inline-block;
    vertical-align: middle;
  }

  .media-body {
    max-width: 210px;
    max-height: 40px;
    overflow: hidden;
    word-break: break-word;
    white-space: pre-wrap;
    position: relative;
	padding-left: 10px;
  }

  .media-cover {
    border-radius: 100%;
    overflow: hidden;
    width: 50px;
    height: 50px;
    margin-right: 0px;
  }
}