/*------------------------------------*\
  #MUSIC
\*------------------------------------*/
.music {
  position: relative;
  padding: 0 30px;
  margin: -110px 0 40px;
  @extend %clearfix;

  &-cover {
    border-radius: 100%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    float: left;
  }

  &-content {
    color: $east-bay;
    padding-left: 190px;
  }

  &-artist,
  &-desc {
    max-width: 480px;
    @extend %text-truncate;
  }

  &-artist {
    font-size: $mega;
    line-height: 1;
    margin-top: 40px;
    text-transform: uppercase;
  }

  &-desc {
    font-size: $delta;
  }

  &-follow,
  &-setting {
    position: absolute;
    top: 100px;
    right: 30px;
  }

  &-follow {
    background: lighten($bismark, 10%);
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .15));
    color: $white;
    font-weight: 700;
    display: block;
    width: 160px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;

    &:hover,
    &:focus {
      background: darken($bismark, 10%);
      color: $white;
      text-decoration: none;
    }

    &.following {
      background: darken($bismark, 10%);

      &:hover,
      &:focus {
        background-color: #be1931;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .15));
      }

      .following-text {
        display: inline-block;
      }

      .follow-text,
      .unfollow-text {
        display: none;
      }
    }

    .follow-text {
      display: inline-block;
    }

    .following-text,
    .unfollow-text {
      display: none;
    }

    i {
      padding-left: 20px;
    }
  }

  &-setting {
    font-size: $delta;
  }
}