/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

/**
 * Color Schemes
 */
$white               : #fff !default;
$black               : #000 !default;
$silver              : #ccc !default;
$gray                : #888 !default;
$dove-gray           : #6c6c6c !default;
$cod-gray            : #060606 !default;
$scorpion            : #5b5b5b !default;
$kashmir-blue        : #50708c !default;
$submarine           : #c2c8cb !default;
$gallery             : #efefef !default;
$emperor             : #4f4f4f !default;
$east-bay            : #3e5c79 !default;
$bismark             : #42617e !default;
$mine-shaft          : #2c2c2c !default;
$corn-flower         : #8fc7ea !default;
$yellow              : #ff0 !default;
$red                 : #f00 !default;

/**
 * Typographic
 */
$tera                 : 117px !default;
$giga                 : 90px !default;
$mega                 : 72px !default;
$alpha                : 60px !default;
$beta                 : 48px !default;
$gamma                : 36px !default;
$delta                : 24px !default;
$epsilon              : 21px !default;
$zeta                 : 18px !default;